<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Listado de empleados</title>
</head>

<body>
  {% if empleados %}
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Fono</th>
      </tr>
    </thead>
    <tbody>
      {% for emp in empleados %}
      <tr>
        <td>{{ emp.id }}</td>
        <td>{{ emp.nombre }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.fono }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div>
    No hay empleados
  </div>
  {% endif %}
</body>

</html>
